* {
    box-sizing: border-box;
}

html{
    overflow-y: hidden;
}

body {
    background-image: url('../images/body-bg1.jpeg'); 
    background-repeat: no-repeat; 
    background-size: cover;
    height: 80vh;

}


.table-wrapper{
    width: 90% !important;
    margin: 0 5%;
    height: 100%;
    overflow: scroll;
}

.table-header{
    width: 90% !important;
    margin: 0 5%;
}

.container {
    width: 90%;
    margin: 20px 5%;
    overflow-x: hidden;
}
